.services {
  display: flex;
  flex-direction: column;
  gap: 85px;
  padding: 0 40px;
}
.jdlServices {
  margin-top: 140px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  text-align: start;
  gap: 40px;
  width: 81%;
}
.jdlServices h2 {
  padding: 0px 7px;
  background-color: var(--green);
  border-radius: 7px;
  height: fit-content;
}
.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}
.serGridContent {
  display: flex;
  gap: 49px;
  border: 1px solid black;
  box-shadow: 0 3px black;
  border-radius: 45px;
  padding: 50px;
  align-items: center;
}
.serGridSatu {
  display: flex;
  flex-direction: column;
  gap: 93px;
}
.hhijau {
  background-color: var(--green);
  width: max-content;
  padding: 0 7px;
  border-radius: 7px;
}
.serGridtmbl {
  display: flex;
  align-items: center;
  gap: 6.5px;
}
.serGridtmbl i {
  font-size: 30px;
  color: var(--green);
  align-items: center;
  background-color: black;
  border-radius: 999px;
  padding: 0 6px;
  padding-bottom: 3px;
  rotate: -30deg;
}